
body {
    margin: 0;
    font-family: Arial, sans-serif;
 background-image: url('../images/fon.jpg');

    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    border-bottom: 2px solid #7f4abf; 
}

.logo img {
    width: 100px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #7f4abf; 
    border-radius: 5px;
}

.menu a:hover {
    background-color: #9b6fd7;
}

.content {
    padding: 40px;
    color: white;
    text-align: center;
}

form {
    background-color: #3f3f44;
    padding: 20px;
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
    color: #ffffff; 
}

input[type="text"],
input[type="file"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
 }
button {
    background-color: #7f4abf; 
    color: white; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: -10px;
}

button:hover {
    background-color: #9b6fd7; 
}


#avatarImage {
    display: block; 
    margin: 10px auto; 
    max-width: 100px; 
    max-height: 100px; 
}

@media (max-width: 600px) {
    .menu {
        flex-direction: column; 
        align-items: center;
    }

    .menu li {
        margin: 10px 0; 
    }

    .menu a {
        font-size: 14px;
        padding: 8px 15px;
    }

    form {
        padding: 15px; 
    }
}
