
footer .social-links {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
    margin-top: 20px;
    padding: 20px 0;
}

.svg-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #f0ffff;
    font-size: 1em;
    padding: 8px 12px;
}

.svg-button img {
    height: 24px;
    margin-right: 8px;
}

.svg-button:hover {
    color: #87cefa;
}
